---
layout: nil
exclude_from_navbar: true
---
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Prevent Chrome from tracking people:
# Taken from https://paramdeo.com/blog/opting-your-website-out-of-googles-floc-network
Header always set Permissions-Policy: interest-cohort=()

ErrorDocument 404 /404/

# Eagles were once their own page before we added the T253 eagles as well.
Redirect 301 "/eagle_scouts.html" "/eagle_scouts/t53_eagle_scouts.html"

# News was once "Press Releases".  Change it to News.
RewriteEngine On
RewriteRule ^/?Press\sReleases/(.*)$ /News/$1 [L,R=301]

RewriteEngine On
RewriteRule ^/?category/?press-releases/(.*)$ /category/news/$1 [L,R=301]
